, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Quicksand';
  src: url("Quicksand-BoldItalic.otf");
}

.camera {
  position: relative;
  margin-left: auto;;
  margin-right: auto;
}

.header {
  /*width: 850px;
  height: 100px;*/
  position: relative;
  margin-left: auto;;
  margin-right: auto;
}

.iAm {
  margin-left: auto;;
  margin-right: auto;
}

.D500Logo{
  width: 325px;
  height: 90px;
  margin-left: auto;;
  margin-right: auto;
  position: absolute;
  top: 200px;
  left: 600px;
}

.D500Logo th, td {
  font-family: 'Quicksand';
  text-shadow: 0 4px 4px lightgray;
}

.thumbnails {
  position: absolute;
  padding-top: 0px;
  display: table-cell;
  align-content: center;
  margin-left: 20px;
  margin-right: auto;
}

.thumbnail {
  float: left;
  width: 90px;;
  height:90px;
  margin-right: 15px;
}

 .thumbnail img {
   width: 90px;;
   height:90px;
}

.thumbnail:hover img{
  cursor: zoom-in;
  width: 500px;
  height: auto;
  position: absolute;
  top: 70px;
  left: 50px;
  margin-left: auto;
  margin-right: auto;
    display: block;
}

#summary {
  top: 600px;
  left: 0px;
  padding: 0 0 0 0px;
  position: absolute;;
}

#summary h1 {
  width: 400px;
  height: auto;;
  font-family: 'chunkfive';
  text-shadow: 0 4px 4px lightgray;
  margin: 0 auto 0 auto;
}

#summary p {
  font-family: 'Quicksand';
  text-shadow: 0 4px 4px lightgray;
  margin: 0 auto 0 auto;
  padding-left: 15px;
  width: 400px;
  height: auto;
}

#summary img {
  width: 500px;
  height: auto;
}

#summaryText {
  float: left;;
}

#summaryImage {
  float: right;
}
