*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Quicksand';
  src: url("Quicksand-BoldItalic.otf");
}

@font-face {
  font-family: 'chunkfive';
  src: url("Chunkfive.otf");
}

@font-face {
  font-family: 'kaushanScript';
  src: url("KaushanScript-Regular.otf");
}
/*
html body{
  width: 1280px;
}*/

.product {
  background-image: url("../img/On-the-beach-sunrise-Camera-Tripod-View-1280.jpg");
  width: 1280px;
  height: 960px;
  position: relative;
}

.product div {
  position: relative;
}

.product img {
  position: relative;
}

#title {
  width: 500px;
  left: 0px;
  top: 200px;
  text-align: center;
  position: absolute;
}

#title h1 {
  width: 500px;
  font-family: 'kaushanScript';
  font-size: 50px;
  text-shadow: 0 4px 4px lightgray;
  margin: 0 auto 0 auto;
}

#title img {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto 0 auto;
}

#cameraTable {
  left: 950px;
  top: 175px;
}

#cameraTable h3 {
  width: 300px;
  height: auto;;
  font-family: 'chunkfive';
  text-shadow: 0 4px 4px lightgray;
}

#cameraTable table {
  /*background-color: #e6ffff;*/
  width: 300px;
  font-family: 'Quicksand';
  font-size: 20px;
  text-shadow: 0 4px 4px lightgray;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

#cameraTable td {
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
