*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Quicksand';
  src: url("Quicksand-BoldItalic.otf");
}

@font-face {
  font-family: 'chunkfive';
  src: url("Chunkfive.otf");
}

@font-face {
  font-family: 'kaushanScript';
  src: url("KaushanScript-Regular.otf");
}

.product {
  background-image: url("../img/On-the-beach-sunrise-Camera-Tripod-View-1280.jpg");
  background-repeat: no-repeat;
  width: 1280px;
  height: 960px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.product div, img  {
  position: relative;
}

#title {
  left: 0px;
  top: 50px;
  text-align: center;
}

#title h1 {
  width: 500px;
  font-family: 'kaushanScript';
  font-size: 50px;
  text-shadow: 0 4px 4px lightgray;
  margin: 0 auto 0 auto;
}

#title img {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto 0 auto;
}

#cameraTable {
  left: 900px;
  top: 625px;
}

#cameraTable h3 {
  width: 300px;
  height: auto;;
  font-family: 'chunkfive';
  text-shadow: 0 4px 4px lightgray;
}

#cameraTable table {
  background-color: #e6ffff;
  opacity: 0.4;
  width: 300px;
  font-family: 'Quicksand';
  font-size: 20px;
  text-shadow: 0 4px 4px lightgray;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

#cameraTable td {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
